<div class="sm:ml-4 flex flex-col justify-center items-center gap-5">
  <input type="text"
    class="bg-gray-200 border-black font-mono rounded-md py-1 pl-4 focus:outline-none sm:w-56 lg:h-12"
    placeholder="Código FIPE"
  >
  <button class="font-poppins text-white bg-green-500 sm:w-56 w-48 sm:h-10 rounded-br-3xl mb-7">
    Pesquisar
  </button>
</div>

<div *ngIf="toggleresult" class=" font-poppins text-black text-base lg:text-2xl flex flex-col justify-center pl-6 gap-y-2  sm:w-56">
  <p>Valor</p>
  <p>marca</p>
  <p>modelo</p>
  <p>Ano</p>
  <p>Ano de referencia</p>
</div>
